MODULE vFLS {
    size = 1048576
    start_address = 0
    otp = [1048320, 256]
    EVENTS {
        EVENT Init {
            CYCLE 0 ms {
                DELAY 1000 ms
            }
        }
        EVENT Result {
            CYCLE 0 ms {
                DELAY 100 ms
            }
            CYCLE 1000 ms {
                ERROR "Get status result error" for 5000 ms
            }
        }
        EVENT Write {
            CYCLE 0 ms {
                DELAY 100 ms
            }
            CYCLE 1000 ms {
                ERROR "Failed access" for 5000 ms
            }
        }
    }
}

MODULE vGPIO {
    port = 1
    pin = 0
    value = 1
}