MODULE vFLS {
    size = 1048576
    start_address = 0
    otp = [1048320, 256]
    EVENTS {
        EVENT First {
            CYCLE 1 {
                DELAY 1000 ms
            }
            CYCLE 2 {
                DELAY 100 ms
            }
        }
        EVENT ProduceError {
            CYCLE 1000 {
                ERROR "Failed access"
            }
        }
    }
}

MODULE vGPIO {
    port = 1
    pin = 0
    value = 1
}